{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".eslintrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
